[submodule "dependencies/yaml"]
	path = dependencies/yaml
	url = https://github.com/MartinKoch123/yaml.git
[submodule "dependencies/jsonlab"]
	path = dependencies/jsonlab
	url = https://github.com/NeuroJSON/jsonlab
