[submodule "dependencies/yaml"]
	path = dependencies/yaml
	url = https://github.com/MartinKoch123/yaml.git
[submodule "/group/mlr-lab/Saskia/ECoG_RSL/dependencies/WISC_MVPA"]
	path = /group/mlr-lab/Saskia/ECoG_RSL/dependencies/WISC_MVPA
	url = https://github.com/crcox/WISC_MVPA.git
